<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить викторину</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="add_quiz_page">
    <div class="container">
        <h1>Добавить викторину</h1>
        <div class="form">
            <form method="post" action="/add_quiz" id="quiz_form">
                <label for="quiz_name">Название викторины:</label><br>
                <input type="text" id="quiz_name" name="quiz_name" required><br><br>

                <!-- Скрытое поле для отправки списка выбранных вопросов -->
                <input type="hidden" id="hidden_selected_questions" name="hidden_selected_questions">

                <input type="submit" value="Создать викторину">
            </form>
        </div>
        <div class="question-list">
            <h2>Список всех вопросов</h2>
            <!-- Для каждого вопроса создаем отдельный checkbox -->
            {% for question_id, question_text in questions %}
                <div class="question-checkbox">
                    <label>
                        <input type="checkbox" class="question_checkbox" name="question_{{ question_id }}" value="{{ question_id }}"> {{ question_text }}
                    </label><br>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var quizForm = document.getElementById("quiz_form");
            var selectedQuestionsList = document.getElementById("selected_questions");
            var checkboxes = document.querySelectorAll(".question_checkbox");
            var hiddenSelectedQuestions = document.getElementById("hidden_selected_questions");

            // Функция для обновления скрытого поля с выбранными вопросами
            function updateHiddenSelectedQuestions() {
                var selectedQuestionIds = [];
                checkboxes.forEach(function(checkbox) {
                    if (checkbox.checked) {
                        selectedQuestionIds.push(checkbox.value);
                    }
                });
                hiddenSelectedQuestions.value = selectedQuestionIds.join(',');
            }

            // Обновляем список выбранных вопросов при изменении состояния checkbox'ов
            checkboxes.forEach(function(checkbox) {
                checkbox.addEventListener("change", function() {
                    updateSelectedQuestions();
                    updateHiddenSelectedQuestions(); // Обновляем скрытое поле
                });
            });

            // Отправляем форму с выбранными вопросами при отправке формы
            quizForm.addEventListener("submit", function(event) {
                updateHiddenSelectedQuestions(); // Обновляем скрытое поле перед отправкой формы
            });
        });
    </script>
</body>
</html>
