<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить вопрос</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="add_question_page">
    <div class="container">
        <h1>Добавить вопрос</h1>
        <form method="post" action="/add_question">
            <label for="question">Вопрос:</label><br>
            <input type="text" id="question" name="question" required><br><br>

            <label for="correct_answer">Правильный ответ:</label><br>
            <input type="text" id="correct_answer" name="correct" required><br><br>

            <label for="wrong_answer_1">Неправильный ответ 1:</label><br>
            <input type="text" id="wrong_answer_1" name="wrong1" required><br><br>

            <label for="wrong_answer_2">Неправильный ответ 2:</label><br>
            <input type="text" id="wrong_answer_2" name="wrong2" required><br><br>

            <label for="wrong_answer_3">Неправильный ответ 3:</label><br>
            <input type="text" id="wrong_answer_3" name="wrong3" required><br><br>

            <label for="points">Количество баллов за правильный ответ:</label><br>
            <input type="number" id="points" name="score" min="1" value="1" required><br><br>

            <input type="submit" value="Добавить вопрос">
        </form>
    </div>
</body>
</html>