<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать на сайт викторин</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="welcome_page">
    <div class="container">
        <h1>Добро пожаловать на сайт викторин!</h1>
        <p>Здесь вы можете проверить свои знания и создать свои собственные викторины.</p>
        <div class="buttons">
            <a href="/quiz" class="quiz-button">Пройти викторину</a>
            <a href="/manage" class="manage-button">Управление викторинами</a>
        </div>
    </div>
</body>
</html>