<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Управление викторинами</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="manage_page">
    <div class="container">
        <h1>Управление викторинами</h1>
        <div class="buttons">
            <a href="/add_quiz" class="add-quiz-button">Добавить викторину</a>
            <a href="/add_question" class="add-question-button">Добавить вопрос</a>
        </div>
    </div>
</body>
</html>
