<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Викторина</title>
</head>
<body class="quiz_page">
    <div class="container">
        <h2>Выберите викторину:</h2>
        <form method="post" action="/quiz">
            <select name="quiz">
                {% for id, name in q_list %}
                    <option value="{{id}}">{{name}}</option>
                {% endfor %}
            </select>
            <p><input type="submit" value="Выбрать"> </p>
        </form>
        <a href="/">Назад</a>
    </div>
</body>
</html>