<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Викторина</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="result_page">
    <div class="container">
        <h1>Ваш результат:</h1>
        <h3>Правильных ответов: {{ correct }}/{{ total }}</h3>
        <h3>Набрано баллов: {{score}}/{{total_score}}</h3>
        <a href="/quiz">В начало</a>
    </div>
</body>
</html>