body.quiz_page, body.result_page, body.welcome_page, body.test_page, body.manage_page,
body.add_question_page, body.add_quiz_page {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

p {
    color: #666;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
}

h1 {
    color: #333;
}

h3 {
    color: #666;
    margin-bottom: 10px;
}

a {
    margin: 0 auto;
    display: inline-block;
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #005f80;
}

h2 {
    color: #333;
    margin-top: 20px;
}

form {
    margin-top: 20px;
}

select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.container {
    width: fit-content;
    margin: 20px auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quiz-title {
    text-align: center;
    font-size: 24px;
    color: #333;
    text-decoration: underline;
}

.answers-container {
    display: flex;
    flex-wrap: wrap;
}

.answer {
    margin: 0 auto;
    flex: 0 0 50%;
    padding: 10px;
}

input[type="radio"] {
    display: none;
}

.selected {
    background-color: #ffcc00;
}

.selected:hover {
    background-color: #ff9900;
}

label {
    display: block;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

label:hover {
    background-color: #45a049;
}

input[type="text"], input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
}

input[type="submit"] {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #005f80;
}

input[type="submit"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}