<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Викторина</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function checkAnswer() {
            var answers = document.getElementsByName('answer');
            var submitButton = document.getElementById('submit_button');
            var isChecked = false;
            for (var i = 0; i < answers.length; i++) {
                if (answers[i].checked) {
                    isChecked = true;
                    break;
                }
            }
            submitButton.disabled = !isChecked;
        }

        function markSelected(label) {
            var labels = document.querySelectorAll('.answer label');
            labels.forEach(function(item) {
                item.classList.remove('selected');
            });
            label.classList.add('selected');
        }
    </script>
</head>
<body class="test_page">
    <div class="container">
        <h1 class="quiz-title">{{ question }}</h1>
        <form method="post" action="test" onchange="checkAnswer()">
            <div class="answers-container">
                {% for answer in a_list %}
                    <div class="answer">
                        <input type="radio" id="answer_{{ loop.index }}" name="answer" value="{{ answer }}" onclick="markSelected(this.nextElementSibling)">
                        <label for="answer_{{ loop.index }}">{{ answer }}</label>
                    </div>
                {% endfor %}
            </div>
            <br>
            <input type="submit" id="submit_button" value="Следующий вопрос" disabled>
        </form>
    </div>
</body>
</html>
